@media screen and (min-width:992px) {
    
    input{
        width:100%;
    }
    .msgArea textarea{
        width:100%;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:1rem;
    }
}
@media screen and (max-width:991px) {
    h1{
        font-size:7rem;
    }
    h2{
        font-size:5rem;
    }
    .sm-img{
        display:block;
    }
    .nav-item:nth-child(4){
        display:none;
    }
    .nav-item{
        display:block;
        text-align:center;
    }
    .line{
        display:none;
    }
    .design-btn{
        margin-top:0;
    }
    .mail{
        width:100%;
    }
    
    input{
        width:100%;
    }
    .msgArea textarea{
        width:100%;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:1rem;
    }
}
@media screen and (max-width:767px) {
    
    .line{
        display:none;
    }
    .videoSection-content{
        text-align:center;
    }
    .videoSection-content p{
        width:100%;
    }
    .about-disc{
        padding:2rem;
        text-align:center;
    }
    .mail{
        width:100%;
    }
    .subsBtn{
        width:15rem;
    }
}
    